@model List<ResultBlogDto>
@{
    ViewData["Title"] = "BlogsByCategory";
    Layout = "~/Views/UILayout/Layout.cshtml";
}


<div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>@ViewBag.categoryName Blogları</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    @foreach (var item in Model)
                    {

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="@item.ImageUrl" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>@item.BlogDate.Day</h3>
                                    <p>@item.BlogDate.ToString("MMM")</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="/Blog/BlogDetails/@item.BlogId">
                                    <h2 class="blog-head" style="color: #2d2d2d;">@item.Title</h2>
                                </a>
                                <p>
                                    @item.Content.Substring(0, 50) ...
                                </p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> @item.Writer.FirstName @item.Writer.LastName</a></li>
                                    <li><a href="#"><i class="fa fa-list-ol"></i> @item.BlogCategory.Name</a></li>
                                </ul>
                            </div>
                        </article>
                    }

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</section>