
@model List<ResultMessageDto>
@{
    ViewData["Title"] = "Gelen Mesajlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Gönderen Adı</th>
        <th>Email</th>
        <th>Konu</th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>
                <button onclick="deleteMessage(@item.MessageId)" class="btn btn-outline-danger">Sil</button>
                <a asp-action="MessageDetail" asp-controller="Message" asp-area="Admin" asp-route-id="@item.MessageId" class="btn btn-outline-info">Mesajı Aç</a>


            </td>
        </tr>
    }
</table>

<br />


<script>

    function deleteMessage(id) {



        Swal.fire({
            title: "Silmek istediğinize emin misiniz?",
            text: "Bu işlemi geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, Sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {

                window.location.href = "/Admin/Message/DeleteMessage/" + id;

            }
        });

    }

</script>
