
@model List<ResultCourseCategoryDto>
@{
    ViewData["Title"] = "Kurs Kategorileri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    int count = 0;
}
<table class="table table-hover">

    <tr>
       
        <th>#</th>
        <th>Kurs Kategori Adı</th>
        <th>Açıklama</th>
        <th>Gösterilme Durumu</th>

        <th></th>
<th>Ana Sayfada</th>
   
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@(item.IsShown ? "Gösteriliyor":"Gösterilmiyor") </td>
            <td>
                <button onclick="deleteCourseCategory(@item.CourseCategoryId)" class="btn btn-outline-danger">Sil</button>
                <a asp-action="UpdateCourseCategory" asp-controller="CourseCategory" asp-area="Admin" asp-route-id="@item.CourseCategoryId" class="btn btn-outline-info">Güncelle</a>
              


            </td>
            <td>
                <a asp-action="ShowOnHome" asp-controller="CourseCategory" asp-area="Admin" asp-route-id="@item.CourseCategoryId" class="btn btn-outline-success"> Göster</a>
                <a asp-action="DontShowOnHome" asp-controller="CourseCategory" asp-area="Admin" asp-route-id="@item.CourseCategoryId" class="btn btn-outline-secondary"> Gösterme</a>
            </td>
        </tr>
    }
</table>

<br />
<a asp-action="CreateCourseCategory" asp-controller="CourseCategory" asp-area="Admin" class="btn btn-outline-primary">Yeni Kurs Kategorisi Ekle</a>

<script>

    function deleteCourseCategory(id) {



        Swal.fire({
            title: "Silmek istediğinize emin misiniz?",
            text: "Bu işlemi geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, Sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {

                window.location.href = "/Admin/CourseCategory/DeleteCourseCategory/" + id;

            }
        });

    }

</script>

