@model List<ResultCourseDto>
@{
    ViewData["Title"] = "GetCoursesByCategoryId";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<main>
    <!--? Hero Start -->
    <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                          
                            <h2>@ViewBag.category Kursları</h2>
                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- all-course Start -->
    <section class="all-course section-padding30">
        <div class="container">
            <div class="row">
                <div class="all-course-wrapper">
                    <!-- Heading & Nav Button -->
                  
                    <!-- Tab content -->
                    <div class="row">
                        <div class="col-12">
                            <!-- Nav Card -->
                            <div class="tab-content" id="nav-tabContent">
                                <!--  one -->
                                
                                    
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="row">
                                        @foreach (var course in Model)
                                        {
                                        <div class="col-xl-4 col-lg-4 col-md-6">
                                            <!-- Single course -->
                                            <div class="single-course mb-70">
                                                <div class="course-img">
                                                    <img src="@course.ImageUrl" alt="">
                                                </div>
                                                <div class="course-caption">
                                                    <div class="course-cap-top">
                                                        <h4><a href="#">@course.CourseName</a></h4>
                                                    </div>
                                                    <div class="course-cap-mid d-flex justify-content-between">
                                                        
                                                        <ul><li>@course.CourseCategory.Name</li></ul>
                                                    </div>
                                                    <div class="course-cap-bottom d-flex justify-content-between">
                                                     
                                                        <span>@course.Price ₺</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                       
                                    </div>
                                </div>
                             
                                
                            </div>
                            <!-- End Nav Card -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- all-course End -->
</main>

